/* Основной стиль для body */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Стиль для заголовка h1 */
h1 {
  color: #333;
}

/* Стиль для кнопки */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0088cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #006b8c;
}

/* Стиль для блока с информацией о пользователе */
#user-info {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
